<div class="banner col-span-12 h-bannerH">
  <header class="flex flex-row justify-between items-center">
    <div class="logo">Logo</div>
    <%= link_to  "Login", sessions_login_path %>
  </header>
  <div class="banner_body h-full flex flex-col justify-center">
    <h1 class="text-2xl text-center break-words font-bold">Blog y noticias de programación y tecnología</h1>
    <%= form_with url: search_path  do |f| %>
      <%= f.text_field :q, placeholder: "Busca un blog o una noticia" %>
      <%= f.submit "Buscar" %>
    <% end %>
    <div class="banner_tags flex justify-center align gap-2.5 shrink-0 flex-wrap mt-11">
      <%= render 'shared/tags', tags: @tags %>
    </div>
  </div>
</div>