<div class="hide-side-menu left-0 w-5/6 h-screen top-0 transition-all duration-700 flex flex-row justify-start fixed bg-gv-oasis-400" data-menu-target="dropdown">
  <div class="w-full p-4 bg-gv-dark-jungle border-2 border-black shadow-hard">
    <ul>
      <li class="py-1 flex flex-row gap-2 justify-start items-center"><i class="fa-solid fa-house"></i><%= link_to "Home", root_path, class: "w-full" %></li>
      <li class="py-1 flex flex-row gap-2 justify-start items-center"><i class="fa-regular fa-pen-to-square"></i><%= link_to "Nueva publicación", new_post_path, class: "w-full" %></li>
      <li class="py-1 flex flex-row gap-2 justify-start items-center"><i class="fa-regular fa-user text-xl"></i><%= link_to "Perfil", profile_path(current_user.username), class: "w-full" %></li>
      <li class="py-1 flex flex-row gap-2 justify-start items-center"><i class="fa-solid fa-gear text-xl"></i><%= link_to "Settings", profile_settings_path, class: "w-full"  %></li>
      <hr class="my-5 bg-gv-tulip-pink opacity-50 border-0 h-px">
      <div class="col-span-12 flex flex-col gap-3">
        <h2 class="text-left text-base font-semibold">Tags populares</h2>
        <div class="banner_tags flex justify-left align shrink-0 flex-wrap gap-2.5">
          <%= render 'shared/tags', tags: @tags %>
        </div>
      </div>
      <hr class="my-5 bg-gv-tulip-pink opacity-50 border-0 h-px">
      <li class="py-1"><%= button_to "Sign out", logout_path, method: :delete %></li>
    </ul>
  </div>
</div>
