<article id="content_article_card_<%= post.id %>" class="flex flex-col xs:gap-5 bg-gv-dark-jungle border-2 border-black shadow-hard rounded-lg overflow-hidden md:w-full">
  <div class="flex flex-col md:flex-row lg:flex-row rounded-lg">
    <div class="flex flex-col xs:gap-4 p-4 lg:p-8 w-full">
      <header class="flex felx-row justify-between items-center">
        <div class="xs:text-sm flex flex-row justify-start items-center xs:gap-2">
          <i class="fa-solid fa-circle-user xs:text-3xl"></i>
          <p class="opacity-70">
            <%= post.user.username %>
          </p>
        </div>
        <div class="xs:text-sm opacity-70"><%= post.created_at.strftime("%d %B of %Y") %></div>
        <% if request.fullpath.split("/")[1] == 'profile' %>
          <div>
            <button><i class="fa-solid fa-ellipsis"></i></button>
            <ul>
              <li id="card"><%= button_to 'Delete', [post], method: :delete, data: { turbo_confirm: '¿Estás seguro que quieres eliminar este post?, no será posible recuperar la información una vez eliminado' } %></li>
            </ul>
          </div>
        <% end %>
      </header>
      <%= link_to "/posts/#{post.user.username}/#{post.title}", data: { turbo_frame: "_top" } do %>
        <h2 class="xs:text-xl font-bold"><%= post.title %></h2>
      <% end %>
      <div class="break-words line-clamp-3"><%= extract_first_paragraph(markdown(post.body)) %></div>
      <% unless post.tags.empty? %>
        <div class="flex flex-row justify-between shrink-0 flex-wrap items-center">
          <p class="xs:text-xs flex gap-2 items-center">
            <i class="fa-solid fa-tag text-gv-pistachio"></i>
            <% post.tags.take(3).each do |t| %>
              <%= link_to "#" do %>
                <span class="text-gv-pistachio"><%= t.tag %></span>
              <% end %>
            <% end %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</article>