<%= turbo_frame_tag dom_id(post), class: "col-span-12 md:col-start-2 md:col-span-7" do %>
  <div>
    <div class="col-span-12">
      <h1><%= post.title %></h1>
      <div><%= image_tag post.banner if post.banner.attached? %></div>
      <%= markdown(post.body) %>
      <% unless post.tags.empty?%>
        <ul class="flex flex-row mt-5 gap-3 flex-wrap shrink-0">
          <%= render 'shared/tags', tags: @post.tags %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="col-span-12 mt-8 flex items-center gap-2">
    <% if user_authenticated? %>
      <% if current_user && post.likes.exists?(user_id: current_user.id) %>
        <%= button_to unlike_post_path(post.id), method: :delete do %>
          <i class="fa-solid fa-thumbs-up like_icon text-green-700"></i>
        <% end %>
      <% else %>
        <%= button_to like_post_path(post.id), class: "liked", method: :post do %>
          <i class="fa-solid fa-thumbs-up like_icon"></i>
        <% end %>
      <% end %>
    <% else%>
      <%= link_to login_path, data: { turbo_frame: "_top" } do %>
        <i class="fa-solid fa-thumbs-up like_icon"></i>
      <% end %>
    <% end%>
    <%= post.likes.count %>
  </div>
<% end %>
