<div class="col-span-12">
  <div class="col-span-12">
    <div><%= post.title %></div>
    <div><%= image_tag post.banner if post.banner.attached? %></div>
    <div><%= markdown(post.body) %></div>
    <ul>
      <% post.tags.each do |t| %>
        <li><%= t.tag %></li>
      <% end%>
    </ul>
  </div>
</div>
<div class="col-span-12 mt-8">
  <% if current_user %>
    <%= render 'like_btn_with_turbo', like: like, post: post %>
  <% else %>
    <%= render 'like_btn_without_turbo', like: like, post: post %>
  <% end %>
</div>
