<header>
  <div class="back">
    <span><i class="fa-solid fa-arrow-left"></i>Back</span>
  </div>
  <%= link_to 'Login', "" %>
</header>
<div>
  <% @post.each do |p| %>
    <%= p.title %>
    <%= p.content %>
    <%= p.raiting %>
    <ul>
      <% p.tags.each do |t| %>
        <li><%= t %></li>
      <% end%>
    </ul>
    <% end %>
    <%= render "shared/tags", tags: @tags %>
</div>

<div>
  <h2>Mas contenido como este</h2>

  <%= render "shared/cards", posts: @posts %>
</div>

<%= render "shared/footer" %>