<div class="col-span-12">
  <div class="flex flex-row justify-start items-center gap-5">
    <div class="user-picture">
      <i class="fa-solid fa-circle-user w-16 h-16"></i>
    </div>
    <div class="col-span-12">
      <div class="username"><%= current_user.username %></div>
      <%= link_to "Editar perfil", profile_settings_path, class: "text-green-600" %>
    </div>
  </div>
  <div class="col-span-12 my-10 prfile-header-nav">
    <nav class="w-full">
      <ul class="flex justify-start items-center gap-3 break-normal">
        <li class="shadow-hard border-2 border-black rounded-lg overflow-hidden">
          <%= link_to user_posts_all_path,
                      data: {
                        controller: "requested-content",
                        action: "click->requested-content#highlight",
                        turbo_frame: "posts"
                      },
                      class: "h-10 flex flex-row items-center gap-2 rounded-lg p-2 selected bg-gv-smalt-blue" do %>
            <i class="fa-regular fa-newspaper"></i>
            Mis posts
          <% end %>
        </li>
        <li 
          class="shadow-hard border-2 border-black rounded-lg overflow-hidden"  
          >
          <%= link_to user_posts_liked_path,
                      data: {
                        controller: "requested-content",
                        action: "click->requested-content#highlight",
                        turbo_frame: "posts"
                      },
                      class: "h-10 flex flex-row items-center gap-2 rounded-lg p-2" do %>
            <i class="fa-solid fa-heart"></i>
            Liked
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</div>
<%= turbo_frame_tag 'posts', class: 'col-span-12 flex flex-col md:justify-start md:flex-row lg:flex-col gap-4 md:flex-wrap' do %>
  <%= @posts.each do |post| %>
    <%= render 'shared/post', post: post %>
  <% end %>
<% end %>
