<!DOCTYPE html>
<html>
  <head>
    <title>NewlineBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- Slim-selec styles -->
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet"/>
    <!-- Highlightjs styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/base16/gruvbox-dark-hard.min.css" integrity="sha512-kCMzrI8UyzNgyq0JVxwb17xy9nRVhwyPBSTaRC1hiOCnbMKBv9vII61ZHD4EmHpc+o0o9trcRCRAk6j5vVft8A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-gv-dark-jungle text-gv-cornsilk">
    <%= render 'shared/app_header' %>
    <div class="mx-3 md:mx-8 lg:mx-14 xl:mx-64 grid grid-cols-12 content-start gap-4" id="app">
      <%= yield %>
    </div>
  </body>
</html>
